POSTGRES_USER=pos_user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=ferreteria_pos

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret

FRONTEND_URL=https://pos.vbprime.net
VITE_API_URL=https://pos.vbprime.net
TZ=America/Asuncion
